<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>
        Pipes para mostrar los numeros. Documentacion: https://angular.io/api/common/DecimalPipe , https://angular.io/api/common/CurrencyPipe , https://angular.io/api/common/PercentPipe
    </p>
</div>
<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas" subheader="del presente año">
            <i class="pi pi-dollar"></i>
            {{ (ventasNetas + 1000000) | number:'1.2-2'}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ventas Brutas" subheader="del presente año">
            {{ (ventasNetas + 2000000) | currency:'CAD':'symbol-narrow':'1.2-4'}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ganancia porcentual" subheader="del presente año">
            {{ porcentaje | percent:'2.2'}}
        </p-card>
    </div>
</div>