<!--<div class="text-layout">

  <h1> {{nombre | titlecase }}</h1>
  <h2>{{valor | number}}</h2>
  <h2>{{obj | json}}</h2>
  <button pButton type="button" (click)="mostrarNombre()" label="cambiar nombre" icon="pi pi-bell" iconPos="right"
    class="p-button-help">
  </button>
  <p-card [header]="nombre | titlecase" subheader="Esto es un subheader">    
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
  </p-card>
</div>-->
<app-menu></app-menu>
<router-outlet></router-outlet>